<div class="edit-employee-container">
    <form [formGroup]="editEmployeeForm" (ngSubmit)="editEmploye(editEmployeeForm.value)">
        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre" formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Telefono</mat-label>
            <input matInput placeholder="Telefono" formControlName="phoneNumber">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Correo</mat-label>
            <input matInput placeholder="Correo" formControlName="email" type="email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Cargo</mat-label>
            <input matInput placeholder="Cargo" formControlName="charge">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Departamento</mat-label>
            <input matInput placeholder="Departamento" formControlName="department">
        </mat-form-field>


        <div class="container-button">
            <input type="submit" class="mat-flat-button"
            value="Guardar" [mat-dialog-close]="true">
        </div>
    </form>
</div>