<section id="hero">
    <div class="container">
      <div class="content-center">
        <h1>Control de empresas web</h1>
        <p>
          Llevar un registro de tus empleados y buscar nuevos ahora es más facil.
          <br />
          Puedes registrar una empresa o un empleado para ser buscado.
        </p>
  
        <a routerLink="/admin" class="btn btn-secondary mt-4"
          >Explorar ahora
          <img src="../../../assets/images/arrow-right.svg" classml-2
        /></a>
      </div>
    </div>
  </section>
  
  <section id="portfolio">
    <div class="container-fluid">
      <div class="content-center">
        <h2>
          Trabajamos con marcas interesantes para crear productos increíbles. Y
          tener gran rendimiento
        </h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus enim
          veritatis minima nemo molestias reiciendis voluptatum optio alias
          perspiciatis? Laudantium.
        </p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="portfolio-container">
            <div class="portfolio-details">
              <a href="">
                <h2>Algun texto para algo</h2>
              </a>
              <a href="">
                <p>-Prueba nuestra app movil</p>
              </a>
            </div>
            <img
              src="../../../assets/images/portfolio-01.jpg"
              alt="Portfolio01"
              class="img-fluid"
            />
          </div>
        </div>
  
        <div class="col-md-6">
          <div class="portfolio-container">
            <div class="portfolio-details">
              <a href="">
                <h2>Nuevo horizontes</h2>
              </a>
              <a href="">
                <p>- Prueba nuestra app movil</p>
              </a>
            </div>
            <img
              src="../../../assets/images/portfolio-02.jpg"
              alt="Portfolio2"
              class="img-fluid"
            />
          </div>
        </div>
  
        <div class="col-md-6">
          <div class="portfolio-container">
            <div class="portfolio-details">
              <a href="">
                <h2>Implementacion urbana</h2>
              </a>
              <a href="">
                <p>- Prueba nuestra app movil</p>
              </a>
            </div>
            <img
              src="../../../assets/images/portfolio-03.jpg"
              class="img-fluid"
            />
          </div>
        </div>
  
        <div class="col-md-6">
          <div class="portfolio-container">
            <div class="portfolio-details">
              <a href="">
                <h2>No existe limite</h2>
              </a>
              <a href="">
                <p>- Prueba nuestra app movil</p>
              </a>
            </div>
            <img
              src="../../../assets/images/portfolio-04.jpg"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
      <div class="text-center mt-4">
        <p class="p-blaco">¿Listo para acelerar tu proyecto?</p>
        <a href="#" class="text-light"><b>Solo haganoslo saber</b></a>
      </div>
    </div>
  </section>
  
  <section id="pricing" class="divider">
    <div class="container">
      <div class="content-center">
        <h2>
          Precios construidos para cada negocio <b>una buena experiencia</b>
        </h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur
          enim nesciunt sunt quaerat recusandae laboriosam aliquam rerum
          architecto minus ut.
        </p>
      </div>
  
      <div class="row">
        <div class="col-md-6">
          <div class="pricing-container">
            <div class="plans plan-light">
              <h4>Plan estandar</h4>
              <h2>Q89 <span>/ Cada mes</span></h2>
              <h4>Dato de 1 millon de puntos</h4>
              <ul class="mt-3">
                <li>Integracion con Google Analytics.</li>
                <li>Charlas en linea.</li>
                <li>Arquitectura en soluciones.</li>
                <li>Soporte dedicado.</li>
              </ul>
              <a
                routerLink="/enterprises/add"
                class="btn btn-primary full-width mt-4"
                >Empezar ahora</a
              >
            </div>
          </div>
        </div>
  
        <div class="col-md-6">
          <div class="pricing-container">
            <div class="plans plan-dark">
              <h4>Plan Pro</h4>
              <h2>Q139 <span>/ Cada mes</span></h2>
              <h4>Dato de 1 millon de puntos</h4>
              <ul class="mt-3">
                <li>Integracion con Google Analytics.</li>
                <li>Control en tiempo de real.</li>
                <li>Soporte dedicado.</li>
                <li>Servidores de trabajo continuo</li>
              </ul>
              <a href="/enterprises/add" class="btn btn-alternate full-width mt-4"
                >Empezar ahora</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section id="testimonial" class="divider">
    <div class="container">
      <div class="content-center">
        <h2>Unas de las grandes <b>posibilidades</b></h2>
      </div>
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="carousel-container">
              <p>
                Una excelente velocidad al momento de crear las expresas, grandes
                posibilidades de comunicacion y empleo.
              </p>
              <div class="rating">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <i class="icon ion-md-star"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="icon ion-md-star"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="icon ion-md-star"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="icon ion-md-star"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="icon ion-md-star"></i>
                  </li>
                </ul>
              </div>
  
              <div class="testimonial-user">
                <div class="row">
                  <div class="col-md-3 col-3">
                    <img
                      src="../../../assets/images/raberry.jpg"
                      class="img-fluid"
                    />
                  </div>
                  <div class="col-md-9 col-9">
                    <h6>Buenos servidores</h6>
                    <span>Rasberry pi</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="carousel-item">
            <div class="carousel-container">
              <p>Comunicación sencilla, rapida y eficaz.</p>
              <div class="rating">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <i class="icon ion-md-star"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="icon ion-md-star"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="icon ion-md-star"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="icon ion-md-star"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="icon ion-md-star"></i>
                  </li>
                </ul>
              </div>
              <div class="testimonial-user">
                <div class="row">
                  <div class="col-md-3 col-3">
                    <img
                      src="../../../assets/images/message.jpg"
                      class="img-fluid"
                    />
                  </div>
                  <div class="col-md-9 col-9">
                    <h6>Chat en tiempo real</h6>
                    <span>Mensajeria</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="carousel-item">
            <div class="carousel-container">
              <p>Cifrado dn mensajes de extremo a extremo.</p>
              <div class="rating">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <i class="icon ion-md-star"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="icon ion-md-star"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="icon ion-md-star"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="icon ion-md-star"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="icon ion-md-star"></i>
                  </li>
                </ul>
              </div>
              <div class="testimonial-user">
                <div class="row">
                  <div class="col-md-3 col-3">
                    <img
                      src="../../../assets/images/segurity.jpg"
                      class="img-fluid"
                    />
                  </div>
                  <div class="col-md-9 col-9">
                    <h6>Seguridad web.</h6>
                    <span>Seguridad garantizada.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="prev"
        >
          <div class="control-button">
            <img
              src="assets/images/arrow-borderless-left.svg"
              class="img-fluid"
            />
          </div>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="next"
        >
          <div class="control-button">
            <img
              src="assets/images/arrow-borderless-right.svg"
              class="img-fluid"
            />
          </div>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </section>
  
  <footer class="bgDark">
    <div class="container">
      <img src="assets/images/logo-light.svg" class="logo-brand" alt="logo" />
      <ul class="list-inline">
        <li class="list-inline-item footer-menu"><a href="#">Home</a></li>
        <li class="list-inline-item footer-menu"><a href="#">Portfolio</a></li>
        <li class="list-inline-item footer-menu"><a href="#">About us</a></li>
        <li class="list-inline-item footer-menu"><a href="#">Pricing</a></li>
        <li class="list-inline-item footer-menu"><a href="#">Contact</a></li>
      </ul>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="#"
            ><img src="assets/images/instagram.svg" class="img-fluid"
          /></a>
        </li>
        <li class="list-inline-item">
          <a href="#"><img src="assets/images/twitter.svg" class="img-fluid"/></a>
        </li>
        <li class="list-inline-item">
          <a href="#"><img src="assets/images/youtube.svg" class="img-fluid"/></a>
        </li>
        <li class="list-inline-item">
          <a href="#"
            ><img src="assets/images/dribbble.svg" class="img-fluid"
          /></a>
        </li>
        <li class="list-inline-item">
          <a href="#"
            ><img src="assets/images/facebook.svg" class="img-fluid"
          /></a>
        </li>
      </ul>
      <small
        >©2020 Todos los derechos reservados.
        <a
          href="#"
          class="font-weight-bold"
          target="_blank"
          rel="noopener"
          >Sociedad anonima.</a
        ></small
      >
    </div>
  </footer>
  
  